* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	line-height: 1.4;
}

/* PRODUCT */
.product {
	border: 5px solid black;
	width: 825px;
	margin: 50px auto;
}

.product-title {
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	background-color: #f7f7f7;
	padding: 15px;
}

/* PRODUCT INFORMATION */

.price {
	font-size: 24px;
	font-weight: bold;
}

.shipping {
	color: #808080;
	font-size: 14 px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.info {
	padding: 10px 0;
}

.link {
	margin-bottom: 30px;
}

.more-info:link,
.more-info:visited {
	color: black;
	margin-bottom: 20px;
}

.more-info:hover,
.more-info:active {
	text-decoration: none;
}

/* PRODUCT DETAILS */

.details-title {
	font-size: 16px;
	text-transform: uppercase;
	margin: 10px 0;
}

.details-list {
	list-style: square;
	margin: 5px 20px;
}

.details-list li {
	line-height: 1.5;
	padding: 2px;
}

/* BUTTON */

.add-cart {
	width: 100%;
	border: none;
	font-size: 20px;
	text-transform: uppercase;
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 5px;
	border-top: 5px solid black;
}

.add-cart:hover {
	background-color: white;
	color: black;
}
